<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css"/>
<div class="container">
    <div class="book-list">
        <ol class="breadcrumb">
            <li><a href="/staff/{{sid}}">Staff Home</a></li>
            <li class="active">All Users List</li>
        </ol>
        <div class="col-xs-12">
            <div class="row">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Student List</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-xs-12 col-sm-12">
                            <table id="student_table" class="table table-striped table-bordered"  width="100%">
                                <thead>
                                <tr>
                                    <th>CWID</th>
                                    <th>Email</th>
                                    <th>Name</th>
                                    <th>LastName</th>
                                    <th>Courses</th>
                                    <th>More</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">Staff List</div>
                    <div class="panel-body">
                        <div class="col-xs-12 col-sm-12">
                            <table id="staff_table" class="table table-striped table-bordered"  width="100%">
                                <thead>
                                <tr>
                                    <th>SSN</th>
                                    <th>Email</th>
                                    <th>Name</th>
                                    <th>LastName</th>
                                    <th>Department</th>
                                    <th>Position</th>
                                    <th>Level</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        var StudentTable,StaffTable;
        $.ajax({
                url: '/{{sid}}/users',
                dataType:'json',
                data: {"staffID":"{{sid}}"},
                type: 'POST'
            }).done(function(data){
                /** Student Table initialize **/
                StudentTable = $('#student_table').DataTable({
                    "data": data.students,
                    "columns": [
                        { "data": "CWID" },
                        { "data": "Email"},
                        { "data": "FirstName"},
                        { "data": "LastName"},
                        { "data": "Courses"},
                        {
                            "class":'details-control',
                            "orderable":false,
                            "defaultContent": ''
                        }
                    ],
                    "columnDefs": [
                        {
                            "render": function ( data, type, row ) {
                                return data + " " + row.LastName;
                            },
                            "targets": 2
                        },
                        { "visible": false,  "targets": [ 3 ] },
                        {
                            "render": function ( data, type, row ) {
                                var CN = "";
                                for(var i=0; i<data.length; i++){
                                    CN += data[i].CourseID +", "
                                }
                                return CN;
                            },
                            "targets": 4
                        }
                    ]
                } );
            $('#student_table tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = StudentTable.row(tr);

                if ( row.child.isShown() ) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    var tb = new TableFormat();
                    if(!!row.data().Books && row.data().Books.length !== 0 ){
                        row.child( tb.student(row.data().Books) ).show();
                        tr.addClass('shown');
                    }
                    else{
                        row.child("No Books owned.").show();
                        tr.addClass('shown');
                    }

                }
            } );

            /** Staff Table initialize **/
            StaffTable = $('#staff_table').DataTable({
                "data": data.staffs,
                "columns": [
                    { "data": "SSN" },
                    { "data": "Email"},
                    { "data": "FirstName"},
                    { "data": "LastName"},
                    { "data": "WorkFor.DeptID"},
                    { "data": "WorkFor.JobTitle"},
                    { "data": "Level"}
                ],
                "columnDefs": [
                    {
                        "render": function ( data, type, row ) {
                            return data + " " + row.LastName;
                        },
                        "targets": 2
                    },
                    { "visible": false,  "targets": [ 3 ] },
                    {
                        "render": function ( data, type, row ) {
                            if(data === 1){
                                return "Teacher"
                            }else{
                                return "Staff"
                            }
                        },
                        "targets": 6
                    }
                ]
            } );
        });

    });
</script>
