<style>
    .thumbnail{
        text-align:center;
    }
    .test img{width:200px;overflow:hidden;}
</style>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li class="active">Teacher Home</li>
            </ol>
            <h2 style="text-align: center" class="btn-custom">Teacher Menu</h2>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="thumbnail">
                        <img class=test src=/image/view-books.jpg width="500"  height="100"  alt="...">
                        <div class="caption">
                            <h3>View Books and Checked Out</h3>
                            <p><a href="/teacher/{{sid}}/view-books" class="btn btn-primary" role="button">Select</a> </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <img class=test src=/image/register-class.jpg width="500" height="150" alt="...">
                        <div class="caption">
                            <h3>Register Class</h3>
                            <p><a href="/teacher/{{sid}}/register" class="btn btn-primary" role="button">Select</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
